
body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
}

div.title,.content {
    float: left;
}

div.title {
    width: 200px;
    height: 100%;
    background-color: skyblue;
    text-align:center;
}

div.content {
    margin: 20px;
}


.inline {
    display: inline;
}

h1 {
    font-size: 36px;
    align-self: center;
    color: white;

}


h2 {
    font-size: 32px;
}

div.items div p {
    margin-right: 40px;
}

div.items div b {
    margin-right: 10px;
}

ul {
    list-style-type: none;
}

ul li {
    margin-left: -40px;
    margin-top: 0px;
}

ul p {
    margin-top: 0px;
}



